<ion-view title="Login" ng-controller="loginCtrl">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list"
              role="form"
              ng-submit="onSubmit()"
              novalidate="novalidate"
              ng-hide="submitted">
            <ion-list>

                <a href=""
                   class="button button-block btn-facebook"
                   ng-click="authenticate('facebook')">
                    <span class="fa fa-facebook"></span>
                    Sign in with Facebook
                </a>

                <a href=""
                   class="button button-block btn-google"
                   ng-click="authenticate('google')">
                    <span class="fa fa-google"></span>
                    Sign in with Google
                </a>

                <div class="item item-divider">
                    or
                </div>

                <label class="item item-input"
                       ng-class="(Errors.hasOwnProperty('email')) ? 'has-error' : ''"
                       name="email">
                    <span class="input-label">E-Mail Address</span>
                    <input type="email"
                           ng-model="formModel.email"
                           id="email"
                           required="required"
                           ng-maxlength="255">
                </label>
                <span class="field-error" ng-if="Errors.hasOwnProperty('email')">
                    <strong>{{ Errors.email }}</strong>
                </span>
                <label class="item item-input"
                       ng-class="(Errors.hasOwnProperty('password')) ? 'has-error' : ''"
                       name="password">
                    <span class="input-label">Password</span>
                    <input type="password"
                           ng-model="formModel.password"
                           id="password"
                           required="required"
                           ng-minlength="6">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button id="login-button"
                    class="button button-positive button-block icon-left ion-log-in"
                    ladda="submitting"
                    data-style="expand-right"
                    type="submit">
                <span ng-show="submitting">Logging</span>
                <span ng-show="!submitting">Login</span>
            </button>
            <a ui-sref="menu.password-email" id="resetPassword-link" style="font-weight:lighter;"
               class="button button-positive  button-block button-clear">Forgot Your Pasword?</a>
            <a ui-sref="menu.register" id="register-link" class="button button-positive  button-block button-clear">Or
                create an account</a>
        </form>
    </ion-content>
</ion-view>